@model Birth
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Formularz urodzin</h2>

    <form asp-action="Result" method="post">
        <label for="Name">Imię:</label>
        <input type="text" name="Name" required />
        <br />

        <label for="BirthDate">Data urodzenia:</label>
        <input type="date" name="BirthDate" required />
        <br />

        <input type="submit" value="Prześlij" />
    </form>