@model Calculator
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@if (Model != null)
{
    <H3>@Model.X @Model.Op @Model.Y = <b class="text-danger">@Model.Calculate()</b></H3>
}
else
{
<p>Wystąpił błąd podczas przetwarzania danych.</p>
}